@import "@/styles/variables";
@import "@/styles/config";

.root {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: $white;

  .infoWrapper {
    width: 50%;
    min-height: 100%;
    padding: 27px 44px;
    background-color: $yellow-main;

    .iconWrapper {
      width: 100%;
    }

    .mainInfoWrap {
      width: 100%;
      height: calc(100% - 52px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .typographyWrap {
        .title {
          margin: 0;
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.05em;
          color: #232b2f;
        }

        .stepTitle {
          margin: 0;
          margin-top: 14px;
          font-weight: 300;
          font-size: 46px;
          line-height: 56px;
          text-align: center;
          color: #232b2f;
          max-width: 549px;
        }
      }

      .mainImageWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 30px 40px;
    background-color: $white;

    .topContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .exitWrap {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;

        .exitButton {
          color: #232b2f;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.05em;
          padding: 10px 20px;
          background: rgba(196, 196, 196, 0.4);
          border: 1px solid rgba(196, 196, 196, 0.4);
          border-radius: 50px;

          &:hover {
            border-color: #232b2f;
          }
        }
      }
    }

    .stepContent {
      padding: 20px;

      .infoTitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        color: #000000;
      }

      .content {
        width: 100%;
      }
    }
  }
}

@include down(md) {
  .root {
    .infoWrapper {
      display: none;
    }

    .contentWrapper {
      width: 100%;

      .stepContent {
        padding: 0;
      }
    }
  }
}
