@import "@/styles/variables";
@import "@/styles/config";

.root {
  .progressBar {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: #ededed;
    overflow: hidden;

    .filledBar {
      height: 100%;
      background-color: $green-base;
      transition: width 0.5s ease-in-out;
    }
  }

  .button {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
  }

  .navigationWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;

    .backButton {
      color: #767676;
      background-color: transparent;
      .buttonTitle {
        margin-left: 6px;
      }

      &:hover {
        color: $green-light;

        img {
          filter: invert(54%) sepia(91%) saturate(1105%) hue-rotate(115deg)
            brightness(96%) contrast(101%);
        }
      }
    }

    .nextButton {
      color: $white;
      background-color: $green-light;
      border: 1px solid $green-light;

      .buttonTitle {
        margin-right: 6px;
      }

      &:hover {
        color: $green-light;
        background-color: rgba(0, 209, 136, 0.2);

        img {
          filter: invert(54%) sepia(91%) saturate(1105%) hue-rotate(115deg)
            brightness(96%) contrast(101%);
        }
      }
    }

    .disabledButton,
    .disabledButton:hover {
      color: #999999;
      background-color: rgba(196, 196, 196, 0.4);
      border: none;
      cursor: default;

      img {
        filter: invert(71%) sepia(0%) saturate(166%) hue-rotate(136deg)
          brightness(85%) contrast(92%);
        opacity: 0.5;
      }
    }

    .stepCounter {
      color: $green-light;
      font-weight: 300;
      margin-right: 30px;
    }

    .nextWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
